<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Tim Schubert" />
<link rel="alternate" type="application/rss+xml" title={{ site.title }} href="/{{ collections.posts.rss }}" />
<link rel="preload" href="/fonts/ZillaSlab.woff2" as="font" type="font/woff2" />
<link rel="preload" href="/fonts/ZillaSlab-Bold..woff2" as="font" type="font/woff2" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="me" href="mailto:{{site.data.contact.mail }}" />
<link rel="me" href="{{ site.data.contact.mastodon }}" />
<link rel="me" href="{{ site.data.contact.matrix }}" />
<link rel="me" href="https://github.com/{{ site.data.contact.github }}" />
<link rel="pgpkey" type="application/pgp-keys" href="/assets/{{ site.data.contact.pgp}}" />
<title>{{ site.title }} - {{ page.title }}</title>
