<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.data.author}}" />
<link rel="alternate" type="application/rss+xml" title={{ site.title }} href="/{{ collections.posts.rss }}" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="me" href="mailto:{{site.data.contact.mail }}" />
<link rel="me" href="{{ site.data.contact.mastodon }}" />
<link rel="me" href="{{ site.data.contact.matrix }}" />
<link rel="me" href="https://github.com/{{ site.data.contact.github }}" />
<link rel="pgpkey" type="application/pgp-keys" href="/assets/{{ site.data.contact.pgp}}" />
<title>{{ page.title }}</title>
